<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Digits recognition{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url('homepage') }}">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href=":javascipt">Recognized digits
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for i in 0..9 %}
                            <li><a href="{{ url('img_page', {'image-class': i}) }}">Class {{ i }}</a></li>
                        {% endfor %}
                        <li><a href="{{ url('img_page', {'image-class': 'not_digit'}) }}">Images without digits</a></li>
                    </ul>
                </li>
                <li><a href="{{ url('about_page') }}">About project</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="band" class="container text-center">
    <div class="row">
        {% block body %}{% endblock %}
    </div>
</div>

<script src="js/draw.js"></script>
</body>
</html>
