{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {% if imgClass == 'not_digit' %}
            <h3>Images without digits</h3>
        {% else %}
             <h3>Digit {{ imgClass }}</h3>
         {% endif %}

        {% for file in files %}
            {% if file != '.' and file != '..' %}
                <div class="col-sm-3"><img src="{{ 'images/img_' ~ imgClass ~ '/' ~ file }}"></div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}