{% extends 'base.html.twig' %}

{% block body %}
    <div class="row clearfix">
        <div class="col-md-3" align="center">
            <div style="position: relative;">
                <canvas id="the_stage" width="200" height="200" align="center">Canvas</canvas><br>
            </div>
            <div style="position: relative;">
                <button type="button" class="btn btn-default butt" id="clean" align="center">Clear</button>
                <button type="button" class="btn btn-default butt" id="predict" align="center">Predict</button>
            </div>
        </div>

        <div class="col-md-7">
            <span id="pred_text">Prediction result:</span> <span id="rec_result"></span>
        </div>
    </div>
{% endblock %}
